<style>
.input-group .form-control.emailText {
	width: 44.8%;
	box-sizing: border-box;
}
.input-group .form-control.temp {
	width: 40px;
}
@media screen and (max-width: 532px) {
	.input-group .form-control.emailText {
		width: 43%;
	}
}
</style>

<div class="container-fluid" id="safeService-app">
    <section class="row">
        <div class="col-md-2 col-sm-12">
            <button type="button" class="btn btn-outline-primary" id="btn-form-new-safeService" data-toggle="modal" data-target="#modal-new-safeService-form" style="display:none">좌석예약 추가</button>
        </div>
        <div class="col-md-10 col-sm-12">
            <form id="searchFrom">            	         
            	<input type="hidden" id="url" />                          
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="safeServiceStartDt">일자</label>
                            <div class="input-group input-daterange">
                                <input type="text" class="form-control" id="safeServiceStartDt" name="safeServiceStartDt" th:value="${safeServiceStartDt}" readonly="readonly" />
                                <div class="input-group-addon">부터</div>
                                <input type="text" class="form-control" id="safeServiceEndDt" name="safeServiceEndDt" th:value="${safeServiceEndDt}" readonly="readonly" />
                                <div class="input-group-addon">까지</div>
                            </div>
                        </div>
                    </div>
                    <!--  
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="parentsMember">학부모 이름</label>
                                <input type="text" class="form-control" id="parentsMember" name="parentsMember" th:value="${parentsMember}" />
                        </div>
                    </div>
                    -->
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="sParentsMember">학부모 회원</label>
                            <select class="form-control chosen" id="sParentsMember" name="sParentsMember">
                                <option value="">전체</option>
                                <option th:each="member : ${parentsMembers}" th:selected="${member.name == sParentsMember}" th:value="${member.name}" th:text="${member.no + ' ' + member.name}"></option>                                
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="sStudentMember">학생 회원</label>
                            <select class="form-control chosen" id="sStudentMember" name="sStudentMember">
                                <option value="">전체</option>
                                <option th:each="member : ${studentMembers}" th:selected="${member.name == sStudentMember}" th:value="${member.name}" th:text="${member.no + ' ' + member.name}"></option>                                
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                    	<div class="form-group">
                   		<label class="form-control-label" for="select-cate">예약 구분</label>
                        <select class="form-control chosen" id="select-cate" name="select-cate" >
                        	<option value="freeApplication">무료체험</option>
                        	<option value="preReservation">사전예약</option>
                        </select>
                   		</div>
                   	</div> -->
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="parentsTel">연락처</label>
                            <input type="text" class="form-control" id="parentsTel" name="parentsTel" th:value="${parentsTel}" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="statusType">상태</label>
                            <select class="form-control chosen" id="statusType" name="statusType">
                                <option value="">전체</option>
                                <option th:each="status : ${statusTypes}" th:selected="${status.value == status}" th:value="${status.value}" th:text="${status.text}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" for="btn-search"></label>
                        <button type="submit" class="btn btn-outline-primary" id="btn-search">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="row">
        <table class="table">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="15%" />
                <col width="10%" />
                <col width="15%" />
				<col width="15%" />
                <col width="15%" />
                <col width="10%" />
            </colgroup>
            <thead class="thead-inverse">
                <tr>
                    <th>상태</th>
                    <th>학부모 이름</th>
                	<th>학부모 전화</th>
                    <th>학생 이름</th>
                	<th>학생 전화</th>
                    <th>희망날짜</th>
                    <th>예약일자</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody id="safeService-list"></tbody>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            <tfoot>
            </tfoot>
        </table>
    </section>
	
	<section th:if="${pageMaker.endPage != 0}">
		<div style="text-align: center;">
			<nav aria-label="Page navigation">
			  <ul class="pagination">
		    	<li th:if="${pageMaker.prev}" class="page-item">								    
			      <a class="page-link prev" href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>				     
		   		</li>
			    <li th:each="page : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}"  class='page-item' th:value="${page}" th:classappend="${page == pageMaker.page.page ? 'active' :''}">	 			     
			    	<a class="page-link button"  id="page-linkbutton" th:text="${page}" th:value="${page}" href="#"></a>						  
			    </li>
				<li th:if="${pageMaker.next}" class="page-item">
			      <a class="page-link next" href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</section>
	
	<div class="modal fade" id="modal-new-safeService-form" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="btn-save-new-safeService">저장</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	      </div>
	    </div>
	  </div>	  
	</div>

    <div class="modal fade" id="modal-safeService-form" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body"></div>
	      <div class="modal-footer">
			<div class="pull-xs-left">
				<button type="button" class="btn btn-danger" id="btn-delete-safeService" style="display:none">삭제</button>
			</div>
	        <button type="button" class="btn btn-primary" id="btn-save-safeService">확인</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	      </div>
	    </div>
	  </div>	  
	</div>
	
</div>

<script th:include="tmpl_form_new_safeService" th:inline="javascript" type="text/template" id="new-safeService-form-template"></script>
<script th:include="tmpl_tr_safeService" th:inline="javascript" type="text/template" id="safeService-template"></script>


<script th:inline="javascript">// <![CDATA[
$(function() {
	
    // Search Form
    var $sForm = $('#searchFrom');
    $sForm.find('.input-daterange').datepicker({
        language: 'ko', autoclose: true, todayHighlight: true, format: 'yyyy-mm-dd',

    }).on('changeDate', function(e) {

    });
	
    $sForm.find('.chosen').chosen({width: "100%"});
    
 	// Branch
	var BranchModel = Backbone.Model.extend({
	    idAttribute: 'branchId',
	    defaults: function() {
	        return {
	            name: '', hpUrl: '',
	            tel: '', telEtc: '', postcode: '', address1: '', address2: '',
	            locNote: '', locUrl: '', opNote: '',
	        };
	    },
	});
	
	var BranchListCollection = Backbone.Collection.extend({
	    model: BranchModel,
	    url: [[@{/admin/api/branches}]],
	
	});
	
	var BranchList = new BranchListCollection();
	
		//var genderTypes = [[${genderTypes}]];
		//var roomTypes = [[${roomTypes}]];
//		var cmpRouteTypes = [[${cmpRouteTypes}]];
		//var guestTypes =  [[${guestTypes}]];
		
		var statusTypes = [[${statusTypes}]];
			
		//var SeatReservationList = new SeatReservationListCollection;
		var SafeServiceList = new SafeServiceListCollection;
		
		SafeServiceList.branchId = [[${branch.branchId}]];
		
		SafeServiceList.todayDt = moment().format('YYYY-MM-DD');	
		
		var SafeServiceView = Backbone.View.extend({
			tagName: 'tr',
			className: 'safeService',
			template: _.template($('#safeService-template').html()),
			events:{
				'dblclick': 'formSafeService',
				'click .btn-form-safeService' : 'formSafeService',
			},
			initialize: function() {
				this.listenTo(this.model, 'change', this.change);
				this.listenTo(this.model, 'destroy', this.remove);
			},
			change: function() {
				this.render();
			},
			render: function() {
				var data = this.model.toJSON();
			
	            /* var cmpRouteTypeText = _.findWhere(cmpRouteTypes, {value: Number(data.cmpRoute)});
	            data['cmpRouteTypeText'] = cmpRouteTypeText ? cmpRouteTypeText.text : ''; */	            	            

	           // var statusTypeText = _.findWhere(statusTypes, {value: Number(data.cmpRoute)});
	            //data['cmpRouteTypeText'] = cmpRouteTypeText ? cmpRouteTypeText.text : '';	     
	            
	            
				this.el.id = data.id;
				this.$el.html(this.template(data));
				
				return this;
			},
			formSafeService : function() {
				SafeServiceList.trigger('formSafeService', this.model);
			},
			
			
		});
				
		
		var BranchSafeServiceView = Backbone.View.extend({
			el: $('#safeService-app'),
			templateForForm: _.template($('#new-safeService-form-template').html()),
			currentSafeServiceModel : null,
			events: {
				'click #btn-form-new-safeService' : 'formNewSafeService',
				'eventClick' : 'formNewSafeService',
				'click #btn-save-new-safeService' : 'saveNewSafeService',
				'click #btn-save-safeService' :  'saveSafeService',
	            'click #btn-delete-safeService' : 'deleteSafeService',
				'click .page-link.button' : 'paging',
	            'click .page-link.next' : 'nextPaging',
	            'click .page-link.prev' : 'prevPaging',
	            'click #btn-authNum' : 'checkAuthNum',
	            'click #btn-send-authNum' : 'sendAuthNum',
	            
			},
			initialize: function() {
				this.listenTo(SafeServiceList, 'add', this.addOneSafeService);
				this.listenTo(SafeServiceList, 'formSafeService', this.formSafeService);
				this.listenTo(SafeServiceList, 'reset', this.reset);
			},
		    reset: function() {
		    	SafeServiceList.forEach(this.addOneSafeService);
		    },  
			chage: function() {
				this.render();
			},
		    render: function() {
				
				
			},		
	        paging: function(e) {
	        	paging(e);

	        },
	        prevPaging: function(e) {
	        	var page = [[${pageMaker.startPage -1}]];
	        	prevPaging(e, page);
	  
	        },
	        nextPaging: function(e) {
	        	var page = [[${pageMaker.endPage +1}]];
	        	nextPaging(e, page);
	      	
	        },
	        addOneSafeService : function(SafeService) {
	        	
		    	var view = new SafeServiceView({ model: SafeService });
		    	this.$('#safeService-list').append(view.render().el);
		    	
		    	var branchId = [[${branch.branchId}]];
	            
		    	/* SeatReservation.SeatReservationList = new SeatReservationListCollection;
		    	SeatReservation.url = ctxRoot + 'e/api/v1/' + branchId + '/seatReservation'; */
				
			},
			
			
			formNewSafeService : function() {
				
				var data = new SafeServiceModel().toJSON();
				var currentDate = sysDate.clone();
				
				data['startDt'] = currentDate.valueOf();
				data['insertDt'] = currentDate.valueOf();
				data['statusTypes'] = statusTypes;											
	            data['parentsName'] = '';
	            data['parentsTel'] = '';
	            data['studentName'] = '';
	            data['studentTel'] = '';
				data['authNum'] = '';
	            
	            var bodyHtml = this.templateForForm(data);
	            var $modal = $(this);
	            
				$('#modal-new-safeService-form')
				.one('show.bs.modal', function(e) {
					var $modal = $(this);
					$modal.find('.modal-title').html('학부모 안심 서비스 추가');					
					$modal.find('.modal-body').html(bodyHtml);						
                    
					$modal.find('[name=emailSelect]').on('change', function() {
						var emailAdd = $(this).val();
						$('#modal-new-safeService-form').find('[name=emailAdd]').val(emailAdd);
					});
										
					$modal.find('.datepicker, .input-daterange').datepicker({
	                    language: 'ko', autoclose: true, todayHighlight: true, format: datepickerFormat,
	                 })
	                 .on('changeDate', function(e) {
	                     var orgInputName = $(e.target).attr('data-org-input-name');
	                     if (!(_.isEmpty(orgInputName))) {
	                         var $orgInput = $('#modal-new-safeService-form').find('[name=' + orgInputName + ']');
	                         //$orgInput.val(e.timeStamp / 1000);
	                         $orgInput.val(e.date.valueOf());
	                         //$orgInput.val($modal.find('$deskEnd'));
	                         //$form.find('#startDt').val(moment(deskStartDt, momentDatepickerFormat));
	                     }

	                 });

	                $modal.find('.chosen').chosen({width: "100%"});
				
			
				//})
				})
			},
			saveNewSafeService: function() {
				var $modal = $('#modal-new-safeService-form');								 
				var $form = $modal.find('form');
				
				var values = {};
				
				$form.validate({
                	ignore: "not:hidden",
                	rules: {
            			roomType: {
            				required: true,
            			},
                		name: {            			
            				required: true,
            			},
            			tel: {
            				required: true,
            			},
            			genderType: {
            				required: true,
            			},
             			school: {
             				required: true,
             			},
//             			emailText: {
//             				required: true,
//             			},
//             			emailAdd: {
//             				required: true,
//             			},
//             			cmpRoute: {
//             				required: true,
//            			}
            		},
            		messages: {
            			roomType: {
            				required: "희망좌석을 선택하세요",
            			},
            			name: {
            	    		required: "이름을 입력하세요",
            			},
            			tel: {
            				required: "연락처를 입력하세요",
            			},
            			genderType: {
            				required: "성별을 입력하세요",
            			},
             			school: {
             				required: "학교/학년을 입력하세요",
             			},
//             			emailText: {
//             				required: "이메일을 입력하세요",
//             			},
//             			emailAdd: {
//             				required: "이메일 주소를 선택하세요",
//             			},
//             			cmpRoute: {
//             				required: "선택해 주세요",
//             			}
            			
            		}	
                });
				
				if ( $form.valid()) {
		        	var $inputs = $modal.find(':input');
		            $inputs.each(function(i, element) {
		                var $element = $(element);
		                if ($element.is('[type=radio]')) {
		                    if ($element.is(':checked')) {
		                        var name = $element.attr('name');
		                        if (!(_.isEmpty(name))) {
		                            values[name] = $element.val();
	
		                        }
		                    }
	
		                } else {
		                    var name = $element.attr('name');
		                    if (!(_.isEmpty(name))) {
		                        values[name] = $element.val();
	
		                    }
	
		                }
		            });
		            
		            var email;
		            
		            if (values['emailText']) {
		            	email = values['emailText'] + '@' + values['emailAdd'];	
		            }
		            SafeServiceList.create({
						branchId: [[${branchId}]],
		            	roomType: values['roomType'],
		            	name: values['name'],
		            	gender: values['gender'],
		            	tel: values['tel'],
		            	school: values['school'],
		            	type:values['type'],
		            	status:values['status'],
		            	role:values['role'],
		            	startDt: values['startDt'],
		            	insertDt:values['insertDt'],
		            	email: email,
		            	//cmpRoute: values['cmpRoute'],
	
		            }, {
						wait : true,	            	
		            	success : function (model, response) {
// 		            		model.set('insertDt', response.insertDt);
// 	                        model.set('updateDt', response.updateDt);
		            		$modal.modal('hide');
		            	}
		            });
				}
			},

			formSafeService : function(model) {
				
				this.currentSafeServiceModel = model;
				
				var data = model.toJSON();
				
				data['authNum'] = '';
				data['statusTypes'] = statusTypes;

				var titleHtml = '좌석예약';
				var bodyHtml = this.templateForForm(data);
				
				$('#modal-safeService-form').one('show.bs.modal', function(e) {
					var $modal = $(this);
					$modal.find('.modal-title').html('좌석예약 수정');
					$modal.find('.modal-body').html(bodyHtml);	
				
	                
					$modal.find('[name=emailSelect]').on('change', function() {
						var emailAdd = $(this).val();
						$('#modal-safeService-form').find('[name=emailAdd]').val(emailAdd);
					});
						
					/*
					$modal.find('.datepicker, .input-daterange').datepicker({
	                    language: 'ko', autoclose: true, todayHighlight: true, format: datepickerFormat,
	                 })
	                 .on('changeDate', function(e) {
	                     var orgInputName = $(e.target).attr('data-org-input-name');
	                     if (!(_.isEmpty(orgInputName))) {
	                         var $orgInput = $('#modal-safeService-form').find('[name=' + orgInputName + ']');
	                         $orgInput.val(e.date.valueOf());
	                     }

	                 });
					 */
					
					
	                $modal.find('.chosen').chosen({width: "100%"});
				})
				.modal();
				
			},
			saveSafeService: function() {
				
				
				var $modal = $('#modal-safeService-form');
				var $form = $modal.find('form');
				
				var values = {};
				
				$form.validate({
                	ignore: "not:hidden",
                	rules: {
                		roomType: {
            				required: true,
            			},
                		name: {            			
            				required: true,
            			},
            			tel: {
            				required: true,
            			},
            			genderType: {
            				required: true,
            			},
//              			school: {
//              				required: true,
//              			},
//             			emailText: {
//             				required: true,
//             			},
//             			emailAdd: {
//             				required: true,
//             			},
//             			cmpRoute: {
//             				required: true,
//             			}
            		},
            		messages: {
            			roomType: {
            				required: "희망좌석을 선택하세요",
            			},
            			name: {            	
            	    		required: "이름을 입력하세요",
            			},
            			tel: {
            				required: "연락처를 입력하세요",
            			},
            			genderType: {
            				required: "성별을 입력하세요",
            			},
//              			school: {
//              				required: "학교/학년을 입력하세요",
//              			},
//             			emailText: {
//             				required: "이메일을 입력하세요",
//             			},
//             			emailAdd: {
//             				required: "이메일 주소를 선택하세요",
//             			},
//             			cmpRoute: {
//             				required: "경로를 선택하세요",
//             			}
            			
            		}	
                });
				console.log(values);
				
				if ( $form.valid()) {
		        	var $inputs = $modal.find(':input');
		            $inputs.each(function(i, element) {
		                var $element = $(element);
		                if ($element.is('[type=radio]')) {
		                    if ($element.is(':checked')) {
		                        var name = $element.attr('name');
		                        if (!(_.isEmpty(name))) {
		                            values[name] = $element.val();
	
		                        }
		                    }
	
		                } else {
		                    var name = $element.attr('name');
		                    if (!(_.isEmpty(name))) {
		                        values[name] = $element.val();
	
		                    }
	
		                }
		            });
					
		            if(values['emailText']) {
		            	values['email'] = values['emailText'] + '@' + values['emailAdd'];
		            }
		            
		            this.currentSafeServiceModel.save(values, {
						wait : true,
		            	success : function (model, response) {
		            		$modal.modal('hide');
		            	},
		            	
		            });
				}
				
				
			},
			deleteSafeService: function() {
	            var $modal = $('#modal-safeService-form');
					            
				if(confirm('정말로 삭제하시겠습니까?')) {
		            this.currentSafeServiceModel.destroy({
						wait : true,	            	
		            	success : function (model, response) {
		            		$modal.modal('hide');
		            	},
		            	
		            });
	            }
				
			},		
			
			checkAuthNum : function() {
				var $modal = $('#modal-safeService-form');
				var $form = $modal.find('form');
				
				var values = {};
				
				
				$form.validate({
                	ignore: "not:hidden",
                	rules: {
            			authNum: {
            				digits: true,
            			}
                	
            		},
            		
            		messages: {
            			authNum: {
            				digits: "숫자만 입력 가능합니다.",
            			}
            			
            		}	
                });
				
				
				
				if ( $form.valid()) {
		        	var $inputs = $modal.find(':input');
		            $inputs.each(function(i, element) {
		                var $element = $(element);
		                if ($element.is('[type=radio]')) {
		                    if ($element.is(':checked')) {
		                        var name = $element.attr('name');
		                        if (!(_.isEmpty(name))) {
		                            values[name] = $element.val();
	
		                        }
		                    }
	
		                } else {
		                    var name = $element.attr('name');
		                    if (!(_.isEmpty(name))) {
		                        values[name] = $element.val();
	
		                    }
	
		                }
		            });
					
		            if(values['emailText']) {
		            	values['email'] = values['emailText'] + '@' + values['emailAdd'];
		            }

				} 

				
				var ajaxData = {
						authType: 10,
						studentTel: values['studentTel'],
						authNum: values['authNum'],
						studentName: values['studentName'],
 						studentId: values['studentId'],
 						
 						parentsAppId: values['parentsAppId'],
 						parentsNo: values['parentsNo'],
 						parentsId: values['parentsId'],
 						studentAppId: values['studentAppId'],
 						studentNo: values['studentNo'],
 						branchId: values['branchId'],
 						startDt: values['startDt']
     					
     			};
				

				jQuery.ajax({
			        method : "POST",
			        url : "/api/v1/branch/" + [[${branch.branchId}]] + "/parentsSafeService",
			        contentType: "application/json; charset=UTF-8",			        
			        data : JSON.stringify(ajaxData),
			        dataType : "JSON" ,
			        success : function() {
			           //alert("Suceeded!");
			        	$modal.modal('hide');
			        	location.reload();
			           
			        },
			        error : function() {
			           alert("인증번호가 올바르지 않습니다.");
			        }
			    });
			
			},
			
			sendAuthNum : function() {								   
				
				
				
				jQuery.ajax({
			        method : "POST",
			        url : "/api/v1/parentsSafeService/sendAuthNum",
			        //contentType: "application/json; charset=UTF-8",			        
			        data : { tel : $('#studentTel').val() },
			        //dataType : "JSON" ,
			        success : function() {
			           //alert("Suceeded!");         
			        },
			        error : function() {
			           //alert("Failed!");
			        }
			    });
			
			}
			
			
			
			
			
			
			
		});
		
		var SafeServiceViewApp = new BranchSafeServiceView;
		SafeServiceList.reset(JSON.parse([[${SafeServiceListJSON}]]));
											 
});

	
//]]></script>

<script th:src='@{/common/api_branch_safeService.js}' ></script>

<!-- DatePicker : https://bootstrap-datepicker.readthedocs.io/en/latest/ -->
<script th:src='@{/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}' ></script>
<script charset='UTF-8' th:src='@{/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ko.min.js}' ></script>
<link rel='stylesheet' th:href='@{/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css}' />

<!-- Chosen : https://github.com/harvesthq/chosen -->
<link rel='stylesheet' th:href='@{/lib/chosen/chosen.css}' />
<script th:src='@{/lib/chosen/chosen.jquery.js}' ></script>

<script th:src='@{/lib/jquery-validation/dist/jquery.validate.min.js}' ></script>