<div class="container-fluid" id="entry-list-app">
    <section class="row">
        <div class="col-md-2 col-sm-12">
        </div>
        <div class="col-md-10 col-sm-12">
            <form id="searchFrom">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="sEntryStartDt">출입일자</label>
                            <div class="input-group input-daterange">
                                <input type="text" class="form-control" id="sEntryStartDt" name="sEntryStartDt" th:value="${sEntryStartDt}" readonly="readonly" />
                                <div class="input-group-addon">부터</div>
                                <input type="text" class="form-control" id="sEntryEndDt" name="sEntryEndDt" th:value="${sEntryEndDt}" readonly="readonly" />
                                <div class="input-group-addon">까지</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="sMember">회원</label>
                            <select class="form-control chosen" id="sMember" name="sMember">
                                <option value="">전체</option>
                                <option th:each="member : ${members}" th:selected="${member.memberId == sMember}" th:value="${member.memberId}" th:text="${member.no + ' ' + member.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="sRoom">열람실</label>
                            <select class="form-control chosen" id="sRoom" name="sRoom">
                                <option value="">전체</option>
                                <option th:each="room : ${rooms}" th:selected="${room.roomId == sRoom}" th:value="${room.roomId}" th:text="${room.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-control-label" for="sDesk">좌석</label>
                            <select class="form-control chosen" id="sDesk" name="sDesk">
                                <option value="">전체</option>
                                <option th:each="desk : ${desks}" th:selected="${desk.deskId == sDesk}" th:value="${desk.deskId}" th:text="${desk.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" for="btn-search"></label>
                        <button type="submit" class="btn btn-outline-primary" id="btn-search">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </section>   
    
    <section class="row">
        <table class="table">
            <!--<colgroup>-->
                <!--<col width="10%" />-->
                <!--<col width="30%" />-->
                <!--<col width="30%" />-->
                <!--<col width="30%" />-->
            <!--</colgroup>-->
            <thead class="thead-inverse">
                <tr>
                    <th class="p-l-3">출입일시</th>
                    <th>출입구분</th>
                    <th class="text-xs-center">회원</th>
                    <th>열람실 / 좌석</th>
                </tr>
            </thead>
            <tbody id="entry-list"></tbody>
                <tr>
                    <th></th>
					<th></th>
                    <th></th>
                    <th class="text-xs-left">
                        <label class="view">총 <span id="totalUsage"></span></label>
                    </th>

                </tr>
            <tfoot>                
            </tfoot>
        </table>
    </section>
   	<section th:if="${pageMaker.endPage != 0}">
	<div style="text-align: center;">
		<nav aria-label="Page navigation">
		  <ul class="pagination">
	    	<li th:if="${pageMaker.prev}" class="page-item">								    
		      <a class="page-link prev" href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">Previous</span>
		      </a>				     
	   		</li>
		    <li th:each="page : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}"  class='page-item' th:value="${page}" th:classappend="${page == pageMaker.page.page ? 'active' :''}">	 			     
		    	<a class="page-link button"  id="page-linkbutton" th:text="${page}" th:value="${page}" href="#"></a>						  
		    </li>
			<li th:if="${pageMaker.next}" class="page-item">
		      <a class="page-link next" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Next</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	</section>    
</div>

<script th:inline="javascript" type="text/template" id="entry-template"><![CDATA[ -->
    <td>
        <label class="view">{{- moment(entryDt).format('LL HH:mm') }}</label>
    </td>
    <td>
        <label class="view">{{ if(entryType == 1) { }}입실{{ } else if(entryType == 2) { }}퇴실{{ } else if(entryType == 3) { }}외출{{ } else if(entryType == 4) { }}복귀{{ } }}</label>
    </td>
    <td class="text-xs-center">
        <label class="view"><span class="tag tag-primary">{{- member.no }}</span> {{- member.name }}</label>
    </td>
    <td>
        <label class="view">{{- room.name }} / {{- desk.name }}</label>
    </td>
<!-- ]]> --></script>
<script th:inline="javascript">// <![CDATA[
$(function(){

    // Search Form
    var $sForm = $('#searchFrom');
    $sForm.find('.input-daterange').datepicker({
        language: 'ko', autoclose: true, todayHighlight: true, format: 'yyyy-mm-dd',

    }).on('changeDate', function(e) {

    });

    $sForm.find('.chosen').chosen({width: "100%"});


    // Member
    var MemberList = new MemberListCollection();
    MemberList.branchId = [[${branch.branchId}]];
    MemberList.reset(JSON.parse([[${memberListJSON}]]));

    // Room
    var RoomList = new RoomListCollection;
    RoomList.branchId = [[${branch.branchId}]];
    RoomList.reset(JSON.parse([[${roomListJSON}]]));

    // Desk
    var DeskList = new DeskListCollection;
    DeskList.branchId = [[${branch.branchId}]];
    DeskList.reset(JSON.parse([[${deskListJSON}]]));

    // Entry
    var EntryList = new EntryListCollection;
    EntryList.branchId = [[${branch.branchId}]];

    var EntryView = Backbone.View.extend({
        tagName: 'tr',
        className: 'entry',
        template: _.template($('#entry-template').html()),
        events: {
        },
        initialize: function() {
            this.listenTo(this.model, 'change', this.change);
            this.listenTo(this.model, 'destroy', this.remove);

        },
        change: function() {
            this.render();

        },
        render: function() {
            var data = this.model.toJSON();

            if (MemberList.get(this.model.get('memberId'))) {
	            data['member'] = MemberList.get(this.model.get('memberId')).toJSON();
	
	            var modelDesk = DeskList.get(this.model.get('deskId'));
	
	            data['desk'] = modelDesk.toJSON();
	            data['room'] = RoomList.get(modelDesk.get('roomId')).toJSON();
	
	            this.el.id = data.entryId;
	
	            this.$el.html(this.template(data));
            }
            return this;

        },
    });

    var BranchEntryView = Backbone.View.extend({
        el: $('#entry-list-app'),
        events: {
        	'click .page-link.button' : 'paging',
			'click .page-link.prev'  : 'prevPaging',
			'click .page-link.next'  : 'nextPaging',

        },
        initialize: function() {
            this.listenTo(EntryList, 'add', this.addOneEntry);
            this.listenTo(EntryList, 'reset', this.reset);

        },
        reset: function() {
            EntryList.forEach(this.addOneEntry);

            var stats = EntryList.getStats();

            $('#totalUsage').text(stats['totalUsageHour'] + ' 시간 ' + stats['totalUsageMinute'] + ' 분');

        },
        render: function() {

        },
        addOneEntry: function(entry) {
            var view = new EntryView({ model: entry });

            this.$('#entry-list').append(view.render().el);

        },
        paging: function(e) {
        	 paging(e);
        	
        },
        prevPaging: function(e) {
        	var page = [[${pageMaker.startPage -1}]];
        	prevPaging(e, page);
   
        },
        nextPaging: function(e) {
        	var page = [[${pageMaker.endPage +1}]];
        	nextPaging(e, page);
        },

    });


    var App = new BranchEntryView;

    EntryList.reset(JSON.parse([[${entryListJSON}]]));

});

// ]]></script>
<script th:src='@{/common/api_branch_room.js}' ></script>
<script th:src='@{/common/api_branch_desk.js}' ></script>
<script th:src='@{/common/api_branch_member.js}' ></script>
<script th:src='@{/common/api_branch_entry.js}' ></script>
<!-- DatePicker : https://bootstrap-datepicker.readthedocs.io/en/latest/ -->
<script th:src='@{/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}' ></script>
<script charset='UTF-8' th:src='@{/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ko.min.js}' ></script>
<link rel='stylesheet' th:href='@{/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css}' />
<!-- Chosen : https://github.com/harvesthq/chosen -->
<link rel='stylesheet' th:href='@{/lib/chosen/chosen.css}' />
<script th:src='@{/lib/chosen/chosen.jquery.js}' ></script>
<!-- Validation : https://jqueryvalidation.org/documentation/
    INPUT : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input -->
<script th:src='@{/lib/jquery-validation/dist/jquery.validate.min.js}' ></script>
