<![CDATA[ -->
<form>
      <div class="container-fluid">
      	<div class="col-lg-6 col-md-12 col-xs-12">
      		<div class="form-group">
      			<label class="form-control-label">선택지점</label>&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;&emsp;&nbsp;&ensp;<i class="fa fa-check" style="color:green" aria-hidden="true"></i> <B>필수입력</B>
      			<input type="text" class="form-control" value="{{- branchNm }}" readonly="readonly"/>
      		</div>
      		<div class="form-group">      			
      			<label class="form-control-label">체험희망일</label>
      			<input type="hidden" name="startDt" value="{{- startDt}}" />
      			<div class="input-group input-daterange">
      			<input type="text" class="form-control" data-org-input-name="startDt" id="startDt" value="{{- momentDateFormat(startDt) }}" readonly="readonly" />
      			</div>
      		</div>
      		<div class="form-group">
      		    <div class="form-group">
		        <i class="fa fa-check" style="color:green" aria-hidden="true"></i> <label class="form-control-label">희망 좌석</label>
		        <select class="chosen" name="roomType" id="roomType">
					<option value="">- 선택 - </option>
					{{ _.each(roomTypes, function(r){ }}<option value="{{- r.value }}" {{ if(roomType == r.value) { }}selected="selected"{{ } }}>{{- r.text }}</option>{{ }); }}
		   		</select>
    		</div>
      		<div class="form-group">
      			<i class="fa fa-check" style="color:green" aria-hidden="true"></i> <label class="form-control-label">이름</label>
      			<input type="text" class="form-control" name="name" />
      		</div>
      		<div class="form-group">
      			<i class="fa fa-check" style="color:green" aria-hidden="true"></i> <label class="form-control-label">성별</label>                    
 					{{ if(genderValue == 10) { }}
                    	<input type="hidden" class="form-control" name="gender" value="{{- genderValue}}" />
	            		<input type="text" class="form-control" value="남" readonly="readonly"/>
                    {{ } else if (genderValue == 20){ }}
	            		<input type="hidden" class="form-control" name="gender" value="{{- genderValue}}" />
	            		<input type="text" class="form-control" value="여" readonly="readonly" />
                    {{ } }}

      		</div>
      		<div class="form-group">
      			<i class="fa fa-check" style="color:green" aria-hidden="true"></i> <label class="form-control-label">연락처 ( '-' 없이 입력해 주세요.)</label>
      			<input type="text" class="form-control" name="tel" />
      		</div>
      		<div class="form-group">
      			<i class="fa fa-check" style="color:green" aria-hidden="true"></i> <label class="form-control-label">학교/학년(성인)</label>
      			<input type="text" class="form-control" name="school" value="{{- school }}" />
      		</div>      		
      			<label class="form-control-label">이메일</label>
      			<div class="input-group mb10">
	      			<input type="text" class="form-control emailText" name="emailText" />
	      			<div class="form-control" style="display:inline-block;width:40px;height:38px;background-color:#eceeef;border-left:none !important;border-right:none !important;text-align:center;">@</div>
	      			<input type="text" class="form-control emailText" name="emailAdd" />
      			</div>
      			<select class="chosen email_select" name="emailSelect" id="emailSelecct" style="margin-top:10px !important;">
                    <option value="">직접입력</option>
                    <option value="chol.com">chol.com</option>
                    <option value="dreamwiz.com">dreamwiz.com</option>
                    <option value="empal.com">empal.com</option>
                    <option value="freechal.com">freechal.com</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="hanafos.com">hanafos.com</option>
                    <option value="hanmail.net">hanmail.net</option>
                    <option value="hanmir.com">hanmir.com</option>                        
                    <option value="naver.com">naver.com</option>
                    <option value="hitel.net">hitel.net</option>
                    <option value="hotmail.com">hotmail.com</option>
                    <option value="korea.com">korea.com</option>
                    <option value="lycos.co.kr">lycos.co.kr</option>
                    <option value="nate.com">nate.com</option>
                    <option value="netian.com">netian.com</option>
                    <option value="paran.com">paran.com</option>
                    <option value="yahoo.com">yahoo.com</option>
                    <option value="yahoo.co.kr">yahoo.co.kr</option>
                </select>
      		</div>
      		<div class="form-group">
      			<i class="fa fa-check" style="color:green" aria-hidden="true"></i> <label class="form-control-label">알게 된 경로</label>
      			<select class="chosen" name="cmpRoute" id="cmpRoute">
					<option value="">- 선택 -</option>
					{{ _.each(cmpRouteTypes, function(cmpRouteType){ }}<option value="{{- cmpRouteType.value }}" {{ if(cmpRoute == cmpRouteType.value) { }}selected="selected"{{ } }}>{{- cmpRouteType.text }}</option>{{ }); }}
      			</select>
      			
      		</div>
      	</div>
      </div>
</form>
<!-- ]]> -->