<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title} + ' - ' + ${brand}"></title>
    <!--/*  favicon : http://realfavicongenerator.net/  */-->
    <link rel="apple-touch-icon" sizes="57x57" th:href='@{/apple-touch-icon-57x57.png}' />
    <link rel="apple-touch-icon" sizes="60x60" th:href='@{/apple-touch-icon-60x60.png}' />
    <link rel="apple-touch-icon" sizes="72x72" th:href='@{/apple-touch-icon-72x72.png}' />
    <link rel="apple-touch-icon" sizes="76x76" th:href='@{/apple-touch-icon-76x76.png}' />
    <link rel="apple-touch-icon" sizes="114x114" th:href='@{/apple-touch-icon-114x114.png}' />
    <link rel="apple-touch-icon" sizes="120x120" th:href='@{/apple-touch-icon-120x120.png}' />
    <link rel="apple-touch-icon" sizes="144x144" th:href='@{/apple-touch-icon-144x144.png}' />
    <link rel="apple-touch-icon" sizes="152x152" th:href='@{/apple-touch-icon-152x152.png}' />
    <link rel="apple-touch-icon" sizes="180x180" th:href='@{/apple-touch-icon-180x180.png}' />
    <link rel="icon" type="image/png" th:href='@{/favicon-32x32.png}' sizes="32x32" />
    <link rel="icon" type="image/png" th:href='@{/android-chrome-96x96.png}' sizes="96x96" />
    <link rel="icon" type="image/png" th:href='@{/favicon-16x16.png}' sizes="16x16" />
    <link rel="manifest" th:href='@{/manifest.json}' />
    <link rel="mask-icon" th:href='@{/safari-pinned-tab.svg}' color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" th:content='@{/mstile-144x144.png}' />
    <meta name="theme-color" content="#ffffff" />
    <script th:src='@{/lib/jquery/dist/jquery.min.js}' ></script>
    <!--<script th:src='@{/lib/jquery-ui/jquery-ui.min.js}' ></script>-->
    <script th:src='@{/lib/tether/dist/js/tether.min.js}' ></script>
    <script th:src='@{/lib/bootstrap/dist/js/bootstrap.min.js}' ></script>
    <script th:src='@{/lib/underscore/underscore-min.js}' ></script>
    <script th:src='@{/lib/backbone/backbone-min.js}' ></script>
    <script th:src='@{/lib/moment/min/moment.min.js}' ></script>
    <script th:src='@{/lib/moment/locale/ko.js}' ></script>
    <script th:src='@{/common/common.js}' ></script>
    <!--<link rel='stylesheet' th:href='@{/lib/jquery-ui/themes/base/jquery-ui.min.css}' />-->
    <link rel='stylesheet' th:href='@{/lib/tether/dist/css/tether.min.css}' />
    <link rel='stylesheet' th:href='@{/lib/bootstrap/dist/css/bootstrap.min.css}' />
    <!--<link rel='stylesheet' th:href='@{/lib/bootstrap-scc/dist/css/bootstrap.min.css}' />-->
    <link rel='stylesheet' th:href='@{/lib/font-awesome/css/font-awesome.min.css}' />
    <link rel='stylesheet' th:href='@{/common/common.css}' />
    <script th:inline="javascript">// <![CDATA[
var ctxRoot = [[@{/}]];
var sysDate = moment([[${#dates.createNow()}]]);
var sysDateIntervalID = setInterval(function(){ $('#sysDate').text(sysDate.add(1, 'seconds').format('llll')); }, 1000);

$(function(){
    $(window).on('resize', function(e) { resizeContent(); });
    resizeContent();

});
// ]]></script>
    <script th:inline="javascript">// <![CDATA[
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86032811-1', 'auto');
  ga('send', 'pageview');
// ]]></script>
</head>
<body>
    <header class="navbar navbar-full navbar-main">
    <div sec:authorize="hasAuthority('admin')">
    	<a class="navbar-brand" th:href="@{/admin}"><img th:src="@{/images/logo-studycodi-w.png}" width="152" height="35" /></a>
    </div>
    <div sec:authorize="hasAuthority('manager') or hasAuthority('user') " th:each="b,status: ${branches}" th:if="${#authorization.expression('hasAuthority(''' + b.branchId + ''')')}">
    	<a class="navbar-brand" th:href="@{/branch/} + ${b.branchId}" ><img th:src="@{/images/logo-studycodi-w.png}" width="152" height="35" /></a>
    </div>
    <div sec:authorize="isAnonymous()">
    	<a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo-studycodi-w.png}" width="152" height="35" /></a>
    </div>
        <div sec:authorize="hasAuthority('admin') or hasAuthority('user') or hasAuthority('manager')" th:each="b,status: ${branches}" th:if="${#authorization.expression('hasAuthority(''' + b.branchId + ''')')}">
            <ul class="nav navbar-nav">
                <li class="nav-item" th:classappend="${#strings.startsWith(view, 'branch') and branch != null and branch.branchId == b.branchId } ? 'bg-inverse active' : ''">
                    <a class="nav-link" th:href="@{/branch/} + ${b.branchId}" th:text="${b.name}"></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav" sec:authorize="hasAuthority('entry')" th:each="b,status: ${branches}" th:if="${#authorization.expression('hasAuthority(''' + b.branchId + ''')')}">
            <li class="nav-item" th:classappend="${#strings.startsWith(view, 'branch') and branch != null and branch.branchId == b.branchId } ? 'bg-inverse active' : ''">
                <a class="nav-link" th:href="@{/entry/} + ${b.branchId}" th:text="${b.name} + ' 출입기록'"></a>
            </li>
        </ul>

        <form class="form-inline pull-xs-right" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <span class="form-control" sec:authentication="name"></span>
            <button class="btn btn-primary" type="submit">로그아웃</button>
        </form>

        <form class="form-inline pull-xs-right" sec:authorize="!isAuthenticated()" th:unless="${#strings.startsWith(view, 'public_login')}" th:action="@{/login/process}" method="post" onsubmit="showLoadingOverlay()">
            <input class="form-control" type="text" name="name" placeholder="사용자 이름" />
            <input class="form-control" type="password" name="password" placeholder="패스워드" />
            <!--<label><input type="checkbox" name="remember-me" /> 로그인 기억</label>-->
            <input type="submit" class="btn btn-sm btn-primary" value="로그인"/>
        </form>

        <ul class="nav navbar-nav pull-xs-right" sec:authorize="hasAuthority('admin')">
            <li class="nav-item" th:classappend="${#strings.startsWith(view, 'admin')} ? 'bg-inverse active' : ''">
                <a class="nav-link" th:href="@{/admin/}">시스템 관리</a>
            </li>
        </ul>

    </header>
    <header id="navbar-sub" class="navbar navbar-full navbar-dark bg-inverse navbar-sub">
        <ul class="nav navbar-nav collapse" sec:authorize="hasAuthority('admin') or hasAuthority('user') or hasAuthority('manager')" th:each="b,status: ${branches}" th:if="${#authorization.expression('hasAuthority(''' + b.branchId + ''')')}"
            th:id="${ 'collapse-' + b.branchId }" th:classappend="${#strings.startsWith(view, 'branch') and branch != null and branch.branchId == b.branchId } ? 'in' : ''">
            <li class="nav-item" th:classappend="${view == 'branch_op' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/'">홈</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'branch_members' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/members'">회원 관리</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'branch_design' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/design'">열람실/좌석 관리</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'branch_reservations' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/reservations'">등록 관리</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'branch_rentals' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/rentals'">대여 관리</a>
            </li>
            <li class="nav-item" sec:authorize="!hasAuthority('manager')" th:classappend="${view == 'branch_pays' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/pays'">결제 관리</a>
            </li>
            <li class="nav-item" sec:authorize="!hasAuthority('manager')" th:classappend="${view == 'branch_expenses' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/expenses'">지출 관리</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'branch_entries' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/entries'">출입 관리</a>
            </li>
            
            <li class="nav-item" th:classappend="${view == 'branch_notifications' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/notifications'">알림 관리</a>
            </li>
            <!-- 
            <li class="nav-item" th:classappend="${view == 'branch_preReservation' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/preReservation'">사전예약 관리</a>
            </li>
             
            <li class="nav-item" th:classappend="${view == 'branch_freeApplications' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/branch_freeApplications'">무료체험 관리</a>
            </li>
             -->
            <li class="nav-item" th:classappend="${view == 'branch_seatReservation' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/branch_seatReservation'">무료체험/좌석예약 관리</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'branch_safeService' and branch != null and branch.branchId == b.branchId } ? 'active' : ''">
                <a class="nav-link" th:href="@{/branch/} + ${b.branchId} + '/branch_safeService'">학부모 안심 관리</a>
            </li>
        </ul>
        <ul class="nav navbar-nav collapse pull-xs-right" sec:authorize="hasAuthority('admin')"
            id="collapse-admin" th:classappend="${#strings.startsWith(view, 'admin') } ? 'in' : ''">
            <li class="nav-item" th:classappend="${view == 'admin_main'} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/}">홈</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'admin_branches'} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/branches/}">지점 관리</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'admin_users'} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/users/}">사용자 관리</a>
            </li>
        </ul>

        
    </header>

    <div id="content" class="container-fluid" th:include="${view}"></div>

    <footer id="footer" class="navbar navbar-light navbar-fixed-bottom bg-faded"><!-- /*   */ -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div id="stats"></div>
                </div>
                <div class="col-lg-2 col-md-12">
                    <div id="membership-card-app"></div>
                </div>				
                <div class="col-lg-1 col-md-12">
                    <span id="sysDate"></span>
                </div>
                <div class="col-lg-1 col-md-12">
                    <a th:href="@{#}" th:text="${brand} + ' © 2016'"></a><br/>
                    Version <b>0.9.23</b>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>