
<div class="container-fluid" id="nothing-to-do">
  	<p> 곧 서비스될 예정입니다. </p>
</div>
<script th:src='@{/common/api_branch_member.js}' ></script>
<script th:src='@{/common/api_branch_pay.js}' ></script>
<!-- DatePicker : https://bootstrap-datepicker.readthedocs.io/en/latest/ -->
<script th:src='@{/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}' ></script>
<script charset='UTF-8' th:src='@{/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ko.min.js}' ></script>
<link rel='stylesheet' th:href='@{/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css}' />
<!-- Chosen : https://github.com/harvesthq/chosen -->
<link rel='stylesheet' th:href='@{/lib/chosen/chosen.css}' />
<script th:src='@{/lib/chosen/chosen.jquery.js}' ></script>
<!-- Validation : https://jqueryvalidation.org/documentation/
    INPUT : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input -->
<script th:src='@{/lib/jquery-validation/dist/jquery.validate.min.js}' ></script>
