<![CDATA[ -->
<td><label class="view">{{- name }}</label></td>
<td><label class="view">{{ if(gender == 10){ }}남자{{ } else if(gender == 20){ }}여자{{ } }}</label></td>
<td><label class="view">{{- tel }}</label></td>
<td><label class="view">{{- momentDateFormat(startDt) }}</label></td>
<td><label class="view">{{- roomTypeText }}</label></td>
<td><label class="view">{{- school }}</label></td>
<td><label class="view">{{- momentDateFormat(insertDt) }}</label></td>
<td><button type="button" class="btn btn-outline-primary btn-form-freeApplication" >수정</button></td>
<!-- ]]> -->
